/init_engineer/init.engineer
/web/.env
/nginx/nginx.conf

/web/db/**
!/web/db/.gitkeep

/web/upload/avatars/**
!/web/upload/avatars/.gitkeep

/web/upload/cards/**
!/web/upload/cards/.gitkeep

/nginx/certs/**
!/nginx/certs/.gitkeep

/nginx/log/**
!/nginx/log/.gitkeep
